.post-form{
    width: 60rem;
    height: 25rem;
    border: 0.1rem solid #707070;
    position: relative;
    top: 10rem;
    margin:auto;
    border-radius: 5px;
}

#myFile{
    cursor: pointer;
    margin-top: 3.1rem;
    margin-left: 5rem;
    width: 50rem;
    height: 3.2rem;
    font: 20px/3 sans-serif;
}

/* .post-form:first-child{
   
    
} */

.R-L{
    margin-top: 1rem;
    display: inline-block;
}

#author{
    top: 3rem;
    width: 20rem;
    height: 3.2rem;
    margin-left: 5rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    font: 20px/3 sans-serif;
}

#location{
    top: 3rem;
    width: 23.5rem;
    height: 3.2rem;
    margin-left: 5rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    font: 20px/3 sans-serif;
}

#description{
    width: 50rem;
    height: 3.2rem;
    margin-top: 2.5rem;
    margin-left: 5rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    font: 20px/3 sans-serif;
}

#newpost{
    width: 10rem;
    height: 3.2rem;
    margin-top: 2.5rem; 
    margin-left: 25rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    cursor: pointer;
    font: 20px/3 sans-serif;
    padding-top: -5px;
}

.warn{
    margin-top: 180px;
    align-items: center;
    margin-left: 700px;

}

@media(max-width: 750px){
    .post-form{
         border: none;
         font: 20px/3 sans-serif;
    }
}